h1 {
  color: green;                           /* колір шрифту */
  background: #EEE;                       /* колір фону (16-ричний формат)*/
  font-family: "Courier New", monospace;  /* шрифт */
  height: 50px;                           /* висота елементу */
  width: 50%;                             /* ширина елементу */
  border: solid black 5px;                /* стиль границі елементу */
  padding: 20px;                          /* відступ від границі елементу до його контенту*/
  margin: 20px;                           /* відступ від границі елементу до іншого елементу */
}